
.bioContainer {
    margin-top: 5.5em;

}
.bioCardBox {
    display: flex;
    flex-wrap: wrap;   
}

.leftBioGrid {
  height: 100%;
}
.rightBioGrid {
  height: 100%;

}

.andyPic {
    border-radius: 25%;
    max-width: 47%;
  height: auto;
  
}


