.react:hover {
    font-weight:bold;
    box-shadow: 0px 1px 10px black;
}
.js:hover {
    font-weight:bold;
    box-shadow: 0px 1px 10px black;
}
.node:hover {
    font-weight:bold;
    box-shadow: 0px 1px 10px black;
}
.bootstrap:hover {
    font-weight:bold;
    box-shadow: 0px 1px 10px black;
}
.mongo:hover {
    font-weight:bold;
    box-shadow: 0px 1px 10px black;
}
.sql:hover {
    font-weight:bold;
    box-shadow: 0px 1px 10px black;
}
.html5:hover {
    font-weight:bold;
    box-shadow: 0px 1px 10px black;
}
.mui:hover {
    font-weight:bold;
    box-shadow: 0px 1px 10px black;
}
.css6:hover {
    font-weight:bold;
    box-shadow: 0px 1px 10px black;
}