


.credentialsGrid {
  height: 75vh;
  background-color: yellow;
}
.rightCredentialsGrid {
 background-color: green;
 height: 75vh;
}

.credentialsContainer {
  margin-top: 4%;
}

.credentialsLeft {
  margin-top: 10px;
  height: 100%;
}
.credentialsRight {
  margin-top: 10px;
}

.duItem {
  margin-top: 0px;
}

.duText {
  margin-top: -10px;
}

.csuItem {
  margin-top: 0px;
}

.csuText {
  margin-top: -10px;
}

.osuItem {
  margin-top: 0px;
}

.osuText {
  margin-top: -10px;
}