
.footerBox {
    background-color: rgb(190, 181, 181);
    padding: 5px;
}

.iconDiv {
    display: flex;
    justify-content: center;
    
}

.email {
    cursor: pointer;
  }
  .linkedIn {
    cursor: pointer;
  }
  .gitHub {
    cursor: pointer;
  }